

<mat-card class="example-card">
  <mat-card-title>Security Health - Sensitive Information</mat-card-title>
  <mat-card-subtitle>access-control</mat-card-subtitle>
  <mat-card-content>
    <h1 *ngIf="total>0" >{{getSummary() | status }}</h1>
  </mat-card-content>
</mat-card>

<div *ngIf="pieChartData">
  <app-pie-chart [pieChartData]="pieChartData" ></app-pie-chart>
</div>
<mat-divider></mat-divider>

<h2>List of findings</h2>

<div>
<mat-accordion>
  <mat-expansion-panel hideToggle *ngFor="let b of getFindings()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        File name:
      </mat-panel-title>
      <mat-panel-description>
        {{ b.name }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list dense>
      <mat-list-item *ngFor="let detail of b.details">
        Line: {{ detail.line }}
        Desc: {{ detail.finding }}
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
</div>



