<section>
  <div class="example-label">{{repo.name}}</div>
  <div class="example-button-row">
    <a mat-button href="doc-status/{{repo.id}}" title="Documentation Health">
      <mat-icon aria-hidden="false" aria-label="Example home icon">abc</mat-icon>
    </a>
    <a mat-button href="repo-status/{{repo.id}}" title="Repository Health">
      <mat-icon aria-hidden="false" aria-label="Example home icon">bug_report</mat-icon>
    </a>
    <a mat-button href="sec-status/{{repo.id}}" title="Security Health">
      <mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon>
    </a>
  </div>
</section>
